.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    font-size: 40px;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
}

.main-body {
    display: flex;
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    margin: 10px;
}

.navigation {
    flex: 1;
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.navigation-item {
    margin: 5px;
    text-decoration: none;
}

.text {
    flex: 4;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-column {
    flex: 1;
}


footer {
    border-radius: 5px;
    background-color: rgb(48, 48, 48);
    padding: 20px;
    margin: 10px;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: white;
    background-color: rgb(37, 37, 37);
    padding: 10px;

}

a {
    color: white;
}

a:hover {
    color: rgb(0, 95, 110);
}